!!!

.side-chat
  .header
    .header__box
      .header__name name
      .header__icon
        %ul
          = link_to "#" do
            %i.ffas.fa-edit
          = link_to "#" do
            %i.fa.fa-cog
  .groups
    .groups__box
      .groups__name name
      .groups__message message